/*----- Nav ------*/

.brand-link {
    font-size: 2em;
    margin-right: 0;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none;
}


/* Product Detail */

.product-img {
    width: 100%;
    object-fit: cover;
}

/* media queries */
@media screen and (max-width: 500px) {
    .brand-link {
      font-size: 24px;
    }
  }