{% load static %}

<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
                integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
                crossorigin="anonymous"
            >
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" 
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
                    crossorigin="anonymous">
            </script>

            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
                    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
                    crossorigin="anonymous">
            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" 
                    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" 
                    crossorigin="anonymous">
            </script>

            <script src="https://kit.fontawesome.com/155195b896.js" crossorigin="anonymous"></script>

            <!-- STRIPE -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Rats Nest {% block extra_title %}{% endblock %} </title>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="row w-100">
                <div class="col-7 col-lg-3">
                    <!-- navbar toggle button for smaller screens -->
                    <button class="navbar-toggler mb-1" type="button" data-toggle="collapse" 
                            data-target="#site-navigation" aria-controls="site-navigation" 
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand brand-link p-0" href="#">Rats Nest</a>
                </div>

                <!-- div containing search form -->
                <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 d-none d-lg-block ">
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search" style="color: #fff"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-5 col-lg-3 text-right">
                    <ul class="navbar-nav mr-auto list-group list-group-horizontal">
                        <!-- shopping bag -->
                        <li class="nav-item ml-auto">
                            <a class="nav-link" href="{% url 'view_bag' %}">
                                <p class="inline">
                                    {% if grand_total  %}
                                    {{ grand_total|floatformat:2 }}
                                    {% else %}
                                    0.00
                                    {% endif %}
                                    <i class="fa-solid fa-basket-shopping fa-xl" style="color: #ffffff;"></i>
                                </p>
                            </a>
                        </li>
                        <!-- user profile actions -->
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- categories/domain collapses on <= medium screens -->
                <div class="collapse navbar-collapse" id="site-navigation">
                    <div class="row w-100">
                        <div class="col-12">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item inline ml-2 dropdown">
                                <!-- clothing link with dropdown -->
                                    <a class="nav-link text-white dropdown-toggle" id="clothing-dropdown"
                                       aria-haspopup="true" aria-expanded="false" href="{% url 'products' %}">
                                        Clothing
                                    </a>
                                    <div class="dropdown-menu border-0 rounded-0 w-100" aria-labelledby="clothing-dropdown">
                                        hello
                                    </div>
                                </li>
                                <li class="nav-item inline ml-2">
                                    <a class="nav-link text-white" href="{% url 'products' %}">
                                        Gear and Equipment
                                    </a>
                                </li>
                                <li class="nav-item inline ml-2">
                                    <a class="nav-link text-white" href="#">
                                        Supplements
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search bar for md and below screens -->
            <div class="row w-100 d-lg-none">
                <div class="col-12">
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search" style="color: #fff"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
          

        <!-- {% if messages %}

        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
                {% if message.level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif message.level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
                {% elif message.level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        
        {% endif %} -->

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}
    </body>
</html>